* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.item {
    border-top: 1px solid #ff7b00;
    overflow: hidden;
}

.btn {
    display: block;
    padding: 16px 20px;
    background: #ff7b00;
    color: white;
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #ff7b00;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.btn i {
    margin-right: 10px;
}

.smenu {
    background: #333;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.smenu a {
    display: block;
    padding: 15px 25px;
    color: white;
    font-size: 16px;
    margin: 4px 0;
    position: relative;
}

.smenu a:before {
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
    background: #ff7b00;
    top: 0;
    left: 0;
    transition: 0.3s;
    opacity: 0;
}

.smenu a:hover:before {
    opacity: 1;
}

.item:target .smenu {
    max-height: 10em;
}
